.menu-mobile-expanded {
    background: rgba(0, 0, 0, 0.473);
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
}
.menu-mobile-expanded nav{
    background:  var(--white);
    height: 10vh;
    display: block;
    display: flex;
    justify-content:  space-between;
    align-items: center;
}
.menu-mobile-expanded ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding: 16px 8px;
}
.menu-mobile-expanded ul li{
    margin-right: 16px;
}
.menu-mobile-expanded ul li a{
    color: black;
    font-weight: bold;
}
.menu-mobile-expanded button{
    background: none;
    border: none;
    outline: none;
    margin-left: 8px;
}