.menu{
    position: absolute;
    top: 48px;
    left: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--white);
    z-index: 100;
}

.menu h1{
    margin: 0;
    margin-right: 32px;
}

.menu .menu-expanded{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    list-style: none;
}

.menu li{
    margin-right: 8px;
    padding: 8px;
}

.menu li a { 
    color: var(--white);
    position: relative;
}
.menu .menu-expanded li a::after{
    content: "";
    width: 20px;
    height: 2px;
    background-color: transparent;
    position: absolute;
    bottom: -8px;
    left: 0;
    right: 0;
    z-index: 1;
    margin: auto;
    transition: 200ms ease-in-out;
}
.menu .menu-expanded li a:hover::after{
    background-color: white;
}

.menu-mobile-icon{
    display: none;
}
.menu-mobile-icon button{
    background: none;
    border: none;
    outline: none;
}

.none{
    display: none;
}

@media (max-width:1000px){
    .menu{
        top: 20px;
        left: 20px;
    }
    .menu-mobile-icon{
        display: block;
        margin-right: 28vw;
    }
    .menu .menu-expanded{
        display: none;
    }
    
}

