.main-image{
    position: relative;
}
.main-image-img{
    width: 100%;
}
.main-descriptio-buttons-nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
}

@media (max-width: 1440px){
    .main-descriptio-buttons-nav{
        top: auto;
        right: 0;
        left: auto;
        bottom: 0;
        left: auto;
    }
}

