.main{
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    gap: 0px 0px;
    object-fit: cover;
  
}
.main div{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
@media (max-width: 1440px){
    .main{
        grid-template-columns: 100vw;
        grid-template-rows: auto auto;
    }
}